.aa-input-search:focus {
    outline: 0;
    border-color: #5e72e4;
}
.aa-hint {
    color: #e4e4e4;
}
.aa-dropdown-menu {
    background-color: #fff;
    border: 2px solid rgba(228, 228, 228, 0.3);
    border-top-width: 1px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-top: 5px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.2);
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    word-wrap: break-word;
}
.aa-suggestion {
    padding: 12px;
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.65);
}
.aa-suggestion > span:first-child {
    color: #333;
}
.aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9;
}
.aa-suggestion span em {
    font-weight: 700;
    font-style: normal;
    background-color: rgba(58, 150, 207, 0.3);
    padding: 2px 0 2px 2px;
}

.algolia-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.algolia-autocomplete {
    display: block !important;
}

.algolia-thumb {
    max-width: 35px;
    max-height: 35px;
}

.algolia-details {
    color: #919191;
}

.ais-hits--item em {
    background-color: rgba(58, 150, 207, 0.3);
}
